<body>

    <div class="center-content">
        <mat-card class="example-card">
          <mat-card-header>
            
            
          </mat-card-header>
          <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Candidate">
            <mat-tab-group>
              <mat-tab label="Login">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput placeholder="Email" value="">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
      
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="Password">
                  <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
                <button mat-button color="primary">Login</button>
              </mat-tab>
              
              <mat-tab label="Register">
                <form (ngSubmit)="onSignup()">
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput placeholder="Email" value="" [(ngModel)]="user.email" name="email">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
      
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="Password" [(ngModel)]="user.password1" name="password1">
                  <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="Password" [(ngModel)]="user.password2" name="password2">
                  <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
                <button mat-button color="primary">Register</button>
              </form>
              </mat-tab>
              
            </mat-tab-group>
      </mat-tab>
      <mat-tab label="Employee">
        <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput placeholder="Email" value="">
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
      
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput placeholder="Password">
                  <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
                <button mat-button color="primary">Login</button>
      </mat-tab>
      </mat-tab-group>
          </mat-card-content>

        </mat-card>
      </div>
</body>